package web

templ Tools() {
  @Base("Tools") {
    <article class="post">
      <h1 class="post-title">
        <a href="/tools/">Tools</a> <a href="#tools" class="hanchor" ariaLabel="Anchor">#</a> 
      </h1>
      <div class="post-meta"></div>
        <div class="post-content"><div>
          <p>Sammlung von selbst-programmierten tools</p>
          <p>Gähnende Leere</p>
        </div>
      </div>
    </article>
  }
}
