<header class="header">
  <div id="disclaimer-container" style="position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8B0000;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 14px;"></div>
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
    </div>
    {{ if len $.Site.Menus }}
      {{ partial "mobile-menu.html" . }}
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
      {{ partial "language-menu.html" . }}
    {{ end }}
  </div>
  {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
  {{ end }}
</header>
